// goes in the layout file showing another navigation component name 'about-nav'
.about__nav{
  &-list{

    display:flex;
    justify-content: space-between;
    list-style:none;
    border-bottom: 1px solid #fff;
  }
  &-item{
    // padding: 1.5rem 3rem;;
    flex:1;
    // padding: 1.5rem 0;
    text-align: center;
    // background-color: orange;
    transition: all 2s;
    position: relative;

    &:not(:last-child){
      border-right: 1px solid #fff;
    }
    &::before{
      content: '';
      display:block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      border-bottom:  4px solid yellowgreen;
      width:20%;
      transition: all .4s ease-in;
    }
    &:hover::before{
      width:80%;
    }
  }

  &-link:link,&-link:visited{
    text-decoration: none;
    color: #fff;
    // text-align: center;
    // padding: 2rem;
    background-color: orange;
    display: block;
    padding: 1rem 0rem;
  }


}
