.nav{
  position: fixed;
  top:0;
  left:50%;
  z-index: 10;
  display: flex;
  justify-content:  space-between;
  align-items: center;
  // center the navigation bar according to its position
  transform: translateX(-50%);
  width: 100%;
  padding: .5rem 1rem;
  background-color: rgba(#000, .2);

  @include respond(tab-land){
    width: 100%;
  }
  &__logo-box{
    margin-left: 4rem;
    width:6rem;
    height:6rem;
  }
  &__logo-link:link,
  &__logo-link:visited{
    text-decoration: none;
  }

  &__logo{
    width: 100%;
    object-fit: cover;
    display: block;
    transition: all 2s;
    &:hover{
      width: 110%;
    }
  }

  &__list{
    margin-right: 4rem;
    list-style: none;
    display:flex;
    padding: 1rem;
    @include respond(phone){
        margin-right: 0;
    }

    @include respond(phone){
       display: block;
       position: absolute;

       bottom: -200%;
       right:3rem;
       margin-right: 0;
    }
  }
  &__item{
    margin-bottom:1px;
    &:not(:last-child){
      margin-right: 3rem;
      @include respond(phone){
          margin-right: 0;
      }
    }
  }

  &__link:link,
  &__link:visited{
    text-decoration: none;
    display:block;
    color: #fff;
    font-size: 1.4rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    font-weight: 700;
    position:relative;
    transition: all 1s;
    @include respond(phone){
      background-image: radial-gradient($color-primary-light, $color-primary-black);
      padding: 1.5rem 3rem;
     }
     /*
      for screen size without hover
     */
     @media  only screen and (hover:none){
       background-image: radial-gradient($color-primary-black, $color-primary-light);
     }
  }
  &__link:focus{
    outline:none;
  }
  &__link:hover{
    @include respond(phone){
      background-image: radial-gradient($color-primary-black, $color-primary-light);
     }
  }

  &__link:before{
    // content and display block are definately needed
    content: "";
    display: block;
    // start when the image start
    position: absolute;
    left:0;
    bottom:0;
    border-radius: 2rem;
    border-bottom: 4px solid var(--color-secondary-light);
    width: 100%;
    transform-origin: center;
    transform: scaleX(1);
    transition: all 1s;
  }
  &__link:hover:before{
    opacity: .7;
    transform: scaleX(.4);
  }


  &__menu-icon{
    width: 4rem;
    height: 4rem;
    fill: #fff;
    // only show menu bar on phone screen
  }
  &__menu-link{
    margin-right: 4rem;
    display:none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 1s;
    @include respond(phone){
        display:block;
    }
    &:hover{
      transform: scale(1.5);
    }
    &:active, &:focus {
      transform: scale(1.2);
    }

  }



}
