.next__nav{
  position: fixed;
  bottom: -5%;
  z-index: 1;
  margin: 1rem;
  transform: rotate(-60deg);

  &-list{
    list-style: none;
  }
  &-item{
    margin:1rem;
    background-color: rgba(#000, .3);
    -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 25%, 100% 75%,  80% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 80% 0%, 100% 25%, 100% 75%,  80% 100%, 0% 100%);
    &--1{
      transform: translateX(-42%);
      transition: transform .4s;
      animation: nextNavFull-1 2s ease-out;
    }
    &--2{
      transform: translateX(-22%);
      transition: transform .4s;
      animation: nextNavFull-2 2s ease-out;
    }
    &--3{
      transform: translateX(-16%);
      transition: transform .4s;
      animation: nextNavFull-3 2s ease-out;
    }
    &--1:hover{
      transform: translateX(-36%);
    }
    &--2:hover{
      transform: translateX(-16%);
    }
    &--3:hover{
      transform: translateX(-10%);
    }
  }

  &-link:link, &-link:visited{
    margin:1rem 2rem;
    display: inline-block;
    text-decoration: none;
    width: 30rem;
    padding: 1rem 2rem;
    text-align: right;
    color: #fff;
    font-size: 1.4rem;
  }

  &-link:focus{
    outline:none;
  }

}
