.next__nav{
  // background-color: orangered;
  position: fixed;
  // top: 2rem;
  bottom: -5%;
  // left: -2.5rem;
  z-index: 1;
  // padding: 2rem 4rem;
  margin: 1rem;
  transform: rotate(-60deg);

  &-list{
    list-style: none;
    // background-color: yellow;
    // margin: 2rem;
    // padding: .5rem 3rem;
  }
  &-item{
    margin:1rem;
    background-color: rgba(#000, .3);

    width: 30rem;
    // border-radius: 10px;
    -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 25%, 100% 75%,  80% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 80% 0%, 100% 25%, 100% 75%,  80% 100%, 0% 100%);
    text-align: right;
    // width:50%;
    // padding:0 3rem;
    // transition: all 2s;
    &--1{
      transform: translateX(-42%);
      transition: transform .4s;
      animation: nextNavFull-1 2s ease-out;
    }
    &--2{
      transform: translateX(-22%);
      transition: transform .4s;
      animation: nextNavFull-2 2s ease-out;
    }
    &--3{
      transform: translateX(-16%);
      transition: transform .4s;
      animation: nextNavFull-3 2s ease-out;
    }
    &--1:hover{
      transform: translateX(-36%);
    }
    &--2:hover{
      transform: translateX(-16%);
    }
    &--3:hover{
      transform: translateX(-10%);
    }
  }

  &-link{
    margin:1rem 2rem;
    display: inline-block;
    text-decoration: none;
    // background-color: pink;
    padding: 1rem 2rem;
    text-align: right;
    color: #fff;
    font-size: 1.4rem;
  }


}
// next__list
// next__item
