
$color-primary: #FFA500;
$color-primary-light: #ffb732;
$color-primary-black: #cc8400 ;

$color-secondary: #0000FF;
$color-secondary-light:#3232ff;
$color-secondary-black:#0000cc;

$color-tertiary: #FADA5E;
$color-tertiary-light: #ffff00;
$color-tertiary-black: #cccc00;

$color-yellow-green:#9ACD32;
$color-orange-red: #FF4500;

:root{

  --color-primary: #FFA500;
  --color-primary-light: #ffb732;
  --color-primary-black: #cc8400 ;
  --color-secondary: #0000FF;
  --color-secondary-light:#3232ff;
  --color-secondary-black:#0000cc;

}
$bp-lg-adv: 50em; // 800px
$bp-medium: 43.75em; // 700px
$phone: 37.5em;// 600px
$bp-md-adv: 31.25em;// 500px
$phone-medium:25em; //400px;
$small-phone: 20.7em;//330px
$micro: 15rem; //240px
/*
universal reset
*/
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;

@include respond(tab-land){
  font-size: 56.25%;    // 1 rem = 9px
}
@include respond(tab-port){
  font-size: 50%;   // 1 rem  = 8 px
}
// this one has priority if condition is met
@include respond(phone){
    font-size: 40%;   // 1 rem  = 8 px
}
@media   only screen and  (max-width: $small-phone){
  font-size: 35%; //5.6px
}

@media   only screen and  (max-width: $micro){
  font-size: 30%;
}
}

body{
  font-family: 'Merienda', cursive;
}

::selection{
  color: #000;
  background-color: #fff;
}
::-moz-selection{
  color: #000;
  background-color: #fff;
}
//normal media query with breakpoint
// @media only screen and (max-width: $bp-large){
//   font-size: 50%;
// }
