

.btn {
  &:link,&:visited{
    text-decoration: none;
    color:white;
    padding: 1rem 2rem;
    // margin-top: -2rem;

    span{
      padding-bottom: .4rem;
      border-bottom: 1px solid #fff;
    }
  }

  &--1{
    position: relative;
    top: -2rem;
    left:5%;
    background-color: orangered;
    box-shadow: .5 1rem 2rem rgba(#000, .3);
    transition: all 1s;
  }
  &--1:hover{
    left: 7%;
    background-color: yellowgreen;
  }

}
