

.btn {
  &:link,&:visited{
    text-decoration: none;
    color:white;
    padding: 1rem 2rem;

    span{
      padding-bottom: .4rem;
      border-bottom: 1px solid #fff;
    }
  }

  &--1{
    position: relative;
    top: -2rem;
    left:5%;
    background-color: orangered;
    box-shadow: .5 1rem 2rem rgba(#000, .3);
    transition: all 1s;
  }
  &--1:hover{
    left: 7%;
    background-color: yellowgreen;
  }

}

.adv__btn{

  &-svg{
    width: 4rem;
    height: 4rem;
    fill: rgba(#BBB, .7);
    transition: fill 2s;
  }
  &-svg:hover{
      fill: rgba(orange, .8);
  }

  &:link, &:visited {
    text-decoration: none;
    color: #999;
    padding: 1rem 2rem;
    border-bottom: 3px solid #999;
    display: inline-block;
    border-radius: 2px;
    transition: all 2s;
    span{
      transition: margin-left 2s;
    }
  }

  &:hover{
    border-bottom: 3px solid rgba(orange, .8);
    color: orange;
    box-shadow: 0 .8rem  1.4rem rgba(#000, .3);
    span{
      margin-left: 1rem;
    }
  }
}
