
  .about__cta-box{
    text-align: center;
    position:absolute;
    bottom:0;
    left:50%;
    transform: translate(-50%,0);
    margin-bottom:1rem;
  }
  .about__cta{
    text-decoration: none;
    color: #999;
    padding: 1rem 2rem;
    border-bottom: 3px solid #999;
    display: inline-block;
    border-radius: 2px;
    transition: all 2s;
    span{
      transition: margin-left 2s;
    }

    &:hover{
      border-bottom: 3px solid rgba(orange, .8);
      color: orange;
      box-shadow: 0 .8rem  1.4rem rgba(#000, .3);
      span{
        margin-left: 1rem;
      }
    }
  }
