%video{
  height: 100%;
  width: 100%;
}
.video{
  @extend %video;
  &__content{
   @include fix-image;
  }
}
.bg-video{
   position: absolute;
   top: 0;
   left: 0;
  @extend %video;

  z-index: -1;
  opacity: .3;
  overflow: hidden;

  &__content{
   @include fix-image;
  }
}
