
.adventure{

  height:100vh;
  background-image: linear-gradient(to right bottom, $color-yellow-green, $color-primary-black);
  background-size: cover;
  background-repeat: no-repeat;
}


.adventure-box{
  background-color: orangered;
  max-width: 120rem;
  min-height: 50rem;
  margin: 5rem auto;
  @include respond(tab-land){
    margin: 0 0;
    max-width:100%;
  }
  // padding: 2rem;
  display:flex;
  @include respond(tab-land){
    display: block;
  }
}
