
.adventure{

  height:100vh;
  background-image: linear-gradient(to right bottom, $color-yellow-green, $color-primary-black);
  background-size: cover;
  background-repeat: no-repeat;
}


.adventure-box{
  background-color: orangered;
  max-width: 120rem;
  min-height: 50rem;
  margin: 5rem auto;
  @include respond(tab-land){
    margin: 0 0;
    max-width:100%;
  }
  // padding: 2rem;
  display:flex;
  @include respond(tab-land){
    display: block;
  }
}

.adventure-side{
  background-color: pink;
  flex: 0 0 18%; // TAKES UP 18% OF EVERHING
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include respond(tab-land){
    flex-direction: row;
    justify-content: stretch;
  }

  // text-align: start;
  &__list{
    // height: 100%;
    font-size: 1.4rem;
    letter-spacing: .4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    @include respond(tab-land){
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  }

  &__item{
    text-transform: uppercase;
    background-color: silver;
    // padding: 2rem;
    position: relative;
    // @include respond(tab-land){
    //   padding: 2rem 4rem;
    // }
    // @media   only screen and  (max-width: $phone-medium){
    //   padding: 1rem 2rem;
    // }
    text-align: center;
    &:not(:last-child){
      margin-bottom: 1rem;
      @include respond(tab-land){
        margin-bottom: 0;
      }
    }
  }
  &__item::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    /*
      Line
    */
    width: 3px;
    background-color: purple;
    /* start from the center then increase vertically*/
    transform: scale(0);
    transition:
    transform .2s,
    width .4s cubic-bezier(1,0,0,1) .2s,
    background-color .1s;

  }
  &__item:hover::before{
    width: 100%;
    transform: scale(1);
  }
  &__item:active::before{
    background-color: orange;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    // background-color: yellowgreen;
    padding:2rem 3rem;
    display: block;
    color: #fff;
    position:relative;
    z-index: 5;
    cursor: pointer;
    @media   only screen and  (max-width: $phone-medium){
      padding: 1rem 1.5rem;
    }
    // @media   only screen and  (max-width: $phone-medium){
    //   padding: 1rem 2rem;
    // }
  }


  &__copyright{
    display:flex;
    justify-content: center;
    @include respond(tab-land){
      display: none;
    }
  }
}
