
.adventure{

  height:100vh;
  background-image: linear-gradient(to right bottom, $color-yellow-green, $color-primary-black);
  background-size: cover;
  background-repeat: no-repeat;
}


.adventure-box{
  background-color: #fff;
  max-width: 120rem;
  min-height: 50rem;
  margin: 5rem auto;
  box-shadow: 0 3rem 4rem rgba(#000, .2);
  @include respond(tab-land){
    margin: 0;
    margin-top: 10rem;
    max-width:100%;
  }
  // @include respond(phone){
  //   margin: 0;
  //
  // }
  // padding: 2rem;
  display:flex;
  @include respond(tab-land){
    display: block;
  }
}
