.meet{
  background-color: rgba(#EEE, 0.8); //britten(#eee, 30%);
  padding: 10rem 0;
  // seperate the sides from the main content
  //margin: 0 5rem;
//  position: relative;
}

.intro{
  position: relative;
}
