.meet{
  background-color: rgba(#EEE, 0.8);
  padding: 30rem 0 20rem 0;;
  @supports (clip-path: polygon(0 0)){
    margin-top: -12%;
    @include respond(tab-land){
      padding: 25rem 0 20rem 0;
    }
    @include respond(tab-port){
      padding: 25rem 0 20rem 0;
      margin-top: -14%;
    }
    @include respond(phone){
      padding: 30rem 0 20rem 0;
      margin-top: -16%;
    }
    @media only screen and (min-width: $bp-hg){
      padding: 20rem 0 20rem 0;
      margin-top: -5%;
    }
  }
}

.intro{
  position: relative;
}
